body {
    font-family: Arial, sans-serif;
}

table {
    width: 320px;
    border-collapse: collapse;
    background-color: lightblue;
    margin-bottom: 25px;
}

table, td, th {
    border: 1px solid black;
    padding: 4px;
}

th {
    text-align: left;
    color: white;
    background-color: darkblue;
}

tr.filaImpar {
    background-color: white;
}

caption {
    font-weight: bold;
    margin-bottom: 5px;
}
