body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    line-height: 1.6;
}

.enlace-resaltado {
    background-color: #fff3cd;
    color: #0b5394;
    padding: 3px 6px;
    margin: 2px;
    border-radius: 4px;
    border: 1px solid #ffeeba;
    text-decoration: none;
    font-weight: bold;
}

.enlace-resaltado:hover {
    background-color: #ffd966;
    color: #000000;
}
